{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'produccion/estilos.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<!-- TABLA DE Calculadora -->
<h1 style="display: inline-block; margin-right: 20px;">Listo para venta</h1>
<button style="display: inline-block;" class="btn money" id="columna-costo" onclick="cambiarMoneda()">Dlls$</button>

<div id="tabla-venta">
    <table>
        <thead>
            <tr>
                <th style="text-align: center; width: 12%">Fecha</thr>
                <th style="text-align: center; width: 5%">Cant.</thr>
                <th style="text-align: center;">Producto</thr>
                <th style="text-align: center; white-space: nowrap;">Filamento</thr>
                <th style="text-align: center; width: 6%">Peso</thr>
                <th style="text-align: center; width: 10%">Tiempo Impreso</thr>
                <th style="text-align: center; white-space: nowrap;">Costo</thr>
                <th style="text-align: center; white-space: nowrap;">Valor</thr>
                <th style="text-align: center; width: 12%; white-space: nowrap;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for postproduccion in postproducciones %}
                <tr id="fila-postproduccion-{{ postproduccion.id }}">
                    <td>{{ postproduccion.fecha }}</td>
                    <td style="text-align: center;">{{ postproduccion.cantidad }}</td>
                    <td>{{ postproduccion.producto }}</td>
                    <td>{{ postproduccion.filamento }}</td>
                    <td style="text-align: center;">{{ postproduccion.peso }}g</td>
                    <td style="text-align: center;">{{ postproduccion.tiempo }} m</td>
                    <td style="text-align: center; " class="costo" data-costo-dlls="{{ postproduccion.costo }}">{{ postproduccion.costo }}Dlls$</td>
                    <td style="text-align: center; " class="costo" data-costo-dlls="{{ postproduccion.valor }}">{{ postproduccion.valor }} Dlls$</td>
                    <td style="text-align: center;">

                        <!-- Botón de Eliminar -->
                        <form method="POST" style="display:inline;" onsubmit="return confirmarEliminacion();">
                            {% csrf_token %}
                            <input type="hidden" name="postproduccion_id" value="{{ postproduccion.id }}">
                            <button type="submit" name="eliminar_postproduccion" class="btn delete">Eliminar</button>
                        </form>

                        <!-- Botón de Finalizar -->
                        <button type="button" class="btn money" onclick="abrirModal('{{ postproduccion.id }}')">
                            Vender
                            <i style="padding-left: 7px;" class="fas fa-money-bill-wave"></i>
                        </button>   

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div id="modal-venta" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h3>Vender producto</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="postproduccion_id" id="postproduccion-id-modal">
                <div style="padding:10px;">
                    <label for="valor">Unidades vendidas</label>
                    <input type="number" name="unidades" id="unidades" step="0.01" required>
                </div>
                <div style="padding:10px;">
                    <label for="valor">Precio de venta por unidad:</label>
                    <input type="number" name="precio" id="precio" step="0.01" required>
                </div>
                <button type="submit" name="registrar_venta" class="btn save">Vender</button>
            </form>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("La página ha sido cargada");
        cambiarMoneda();
    });

    let enDolares = true; // Estado inicial: mostrar en dólares
    const tipoCambio = 20.30; // Tipo de cambio: 1 USD = 20 MXN
    
    function cambiarMoneda() {
        enDolares = !enDolares; // Cambia el estado
        const celdasCosto = document.querySelectorAll('.costo');
        
        celdasCosto.forEach(celda => {
            const costoDolares = parseFloat(celda.getAttribute('data-costo-dlls'));
            if (enDolares) {
                celda.textContent = `${costoDolares.toFixed(2)} Dlls$`;
            } else {
                const costoPesos = costoDolares * tipoCambio;
                celda.textContent = `${costoPesos.toFixed(2)} MXN$`;
            }
        });

        // Actualiza el encabezado para reflejar el estado actual
        const columnaCosto = document.getElementById('columna-costo');
        columnaCosto.textContent = enDolares 
            ? 'Dlls$' 
            : 'MXN$';
    }


    function abrirModal(postproduccionId) {
        // Mostrar el modal
        document.getElementById('modal-venta').style.display = 'block';
        // Rellenar el ID del cálculo en el formulario
        document.getElementById('postproduccion-id-modal').value = postproduccionId;
    }
    
    function cerrarModal() {
        // Ocultar el modal
        document.getElementById('modal-venta').style.display = 'none';
    }

    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas cancelar esta venta?");
    }
</script>

{% endblock %}